@import './../../theme/theme';

.singleGroupChatCard{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgb(188, 188, 188);
}

.singleChatHeader{
    background-color: $primaryColor;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    img{
        border-radius: 50%;
        border: 2px solid white;
    }
}