.profileDetail{
    display: flex;
    flex-direction: column;
    gap: 4px;
    .profileTitle{
        font-size: 20px;
        font-weight: bold;
    }
    .profileValue{
        font-size: 16px;
        color: rgba(28, 28, 30, 0.4);
    }
}